<!DOCTYPE html>
<html>
  <head>
    <title>Actualize Lead Contact</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="amber-text">
      <div class="container nav-wrapper">
        <% if current_admin %>
          <%= link_to "Lead Contact Settings", authenticated_root_path, class: "left brand-logo" %>
        <% else %>
          <%= link_to "Lead Contact Settings", unauthenticated_root_path, class: "left brand-logo" %>
        <% end %>
        <ul class="right">
          <% if current_admin %>
            <li><%= link_to "Sign Out", destroy_admin_session_path, method: :delete, class: "amber-text" %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <% if notice %>
      <script type="text/javascript">
        Materialize.toast('<%= notice %>', 4000, 'notice amber black-text')
      </script>
    <% end %>
    <% if alert %>
      <script type="text/javascript">
        Materialize.toast('<%= alert %>', 4000, 'alert red')
      </script>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
